body {
  background-color: rgb(75, 75, 75);
  direction: rtl;
}
.header {
  background-color: white;
  height: 100px;
  width: 90%;
  margin: 0;
  margin-right:5%;
  margin-left:5%;
  border: 0px solid black;
  border-radius: 10px 0px 10px 10px;
}
.logo {
  float: left;
  width: 80px;
  margin-top: 7px;
  margin-left: 10px;
  border-radius: 85px;
}
.buttenhd{
    background-color: rgb(117, 31, 9);
    color: rgb(50, 37, 161);
    float: left;
    margin-top: 5px;
    margin-left: 250px;
    padding: 10px;
    border: 0px ;
border-radius: 15px 16px 7px 18px;
}
.buttenhd:hover{
    background-color:rgb(43, 179, 43);
    color: rgb(74, 12, 102);
    border-radius: 5px 16px 17px 18px;
}
.inputh {
  width: 35%;
  height: 30px;
  margin: 25px;
  margin-top: 15px;
  margin-right: 75px;
  background-color: rgb(177, 177, 177);
  border: 0px solid rgb(0, 0, 0);
  border-radius: 10px 5px 8px 15px;
}
.inputh:hover {
  border: 5px double rgb(0, 0, 0);
  border-radius: 25px;
}
ul {
    list-style-type: none;
    margin-right: 30px;
    margin-top: 4px;
  }
  
  li {
    display: inline;
    padding-right: 85px;
    margin-bottom: 15px;
  }
 .va{
     margin-right: 5px;
 }
.fa{
    text-decoration: none;
    color: black;
    margin-right: -50px;
}